body{
}
.cart-body{
    background-color: rgba(234, 237, 237, 0.671);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bar{
    z-index: 1;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0.2rem;
    color: white;
    background-color: rgb(19,25,33);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    height: 4rem;
}
.search{
    padding: 0.3rem;
    padding-left: 0.6rem;
    margin: 0.3rem;
    border: 1px black;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-right: 0;
    height: 2.3rem;
    width: 25rem;
    font-weight: 500;
}
.search-bar{
    
    display: flex;
    gap: 0;
    align-items: center;
    height: 3.5rem;
}
.search-btn{
    height: 2.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
svg{
    padding-bottom: 0.4rem;
}
/* .returns-orders>div{
    margin: 0;
    padding: 0;
} */
.returns{
    margin-top: 0.2rem;
}
.orders{
    position: relative;
    bottom: 0.3rem;
}

/*//////////////////////////*/
.cart{
    position: relative;
}
.cart-hover:hover{
    cursor: pointer;
}
.quantity:hover{
    cursor: pointer;
}
.quantity{
    color: rgb(255,193,7);
    position: absolute;
    top: 0.5rem;
    left: 1.3rem;
}

/*///////////////////////////////////////////////*/


.grid-container{
    /* margin-top: 1rem; */
    font-size: larger;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    /* margin-bottom: 2rem; */
    background-color: rgba(211, 211, 211, 0.222);
    border: solid lightgrey;
    border-width: 0 2px 2px 0;
}
.grid-item>img{
    margin-top: 1rem;
    object-fit: cover;
    mix-blend-mode: multiply;
    height: 15rem;
    width: 20rem;
}
select{
    background-color: rgba(211, 211, 211, 0.374);
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
}
.cart-btn{
    margin-bottom: 1rem;
}
.cart-btn:hover{
    opacity: 0.8;
}

.cart-page{
    margin: 1rem;
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 1rem;
}
.shopping-cart{
    padding: 0.5rem 2rem 2.5rem 2rem;
    background-color: white;
    
    
}
.shopping-cart>h1{
    padding-bottom: 1.5rem;
    border: solid lightgray;
    border-width: 0 0 1px 0;
}
.item{
    margin-top: 1rem;
    border: solid lightgray;
    border-width: 0 0 1px 0;
    display: flex;
}
.item-content{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.item-name{
    padding-top: 1rem;
    text-align: center;
    height: 5rem;
    width: 100%;
    /* height: 5rem; */
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.item-content>h2{
    margin-top: 0;
    margin-bottom: 3rem;
}
.qty{
    font-size: 1.2rem;
}
.cart-item-name
{
    padding-top: 0.5rem;
    height: 5rem;
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.cart-item-img{
    margin-top: 1rem;
    height: 10rem;
    width: 15rem;
    object-fit: contain;
}
#Qty{
    background-color: rgb(234,237,237);
    border-radius: 6px;
    padding-left: 2px;
}


.subtotal{
    padding: 1rem;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#free-delivery{
    font-size: smaller;
    color: rgb(8,126,99);
    margin-bottom: 1rem;
}
.cost{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: larger;
}
.place-order{
    width: 100%;
    background-color: rgb(255,216,20);
    border: none;
    border-radius: 0.5rem;
}
#checkbox{
    padding-left: 3px;
    margin-bottom: 2rem;
}
.checkbox{
    display: flex;
    padding-left: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
input{
    margin-top: 7px;
}
.hide{
    display: none;
}
.show{
    display: block;
}

@media(min-width:975px) and (max-width:1300px)
{
    .grid-container
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:820px) and (max-width:975px)
{
    .search{
        width: 15rem;
    }
    .grid-container
    {
        grid-template-columns: 1fr 1fr;
    }
    .grid-item{
        /* width: 20.1rem; */
    }
}

@media(min-width:630px) and (max-width:820px)
{
    .grid-container
    {
        grid-template-columns: 1fr 1fr;
    }
    .search{
        width: 5rem;
    }
}
@media(max-width:630px)
{
    .grid-container
    {
        grid-template-columns: 1fr;
    }
    .search{
        display: none;
    }
    .search-btn{
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
    }
    .search-btn>svg
    {
        position: relative;
        right: 0.5rem;
        bottom: 2px;
    }
}